* {
    background-color: black;
    color: white;

}

body {
    text-align: center;
}

h2 {
    margin-top: 50px;
}

h3 {
    margin-top: 30px;
}

#defilement {
    position: relative;
    height: 100vh;
    bottom: 0px;
    margin-bottom: 50vh;
    overflow: hidden;
    animation-name: deffilement;
    animation-duration: 5s;
}