*{
    margin: 0%;
    padding:0%;
}
body{
    margin: auto;
    padding: auto;
    background-color: white;
    --hfTaille: 50px;
}
header{
    height: var(--hfTaille);
    background-color: aqua;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main{
        height: calc(100vh - calc(var(--hfTaille)*2));
        padding:auto;
        margin: auto;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    -webkit-filter: blur(0);
	filter: blur(0);
}
.Centre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

footer{
    padding: auto;
    margin: auto;
    height: var(--hfTaille) ;
    background-color: black;
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    
}
button {
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 25px;
    transition: all 0.5s;
    cursor: pointer;
    height: cal(var(--hfTaille) - 10px);
}
button:hover {
    background-color: green;
  }
